<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to Jerry's Blog !</h1>
        <form action="/create-item" method="POST">
            <div class="d-flex align-items-center">
                <input autofocus autocomplete="off" class="form-control mr-3" name='item' type="text" style="flex: 1;">
                <button class="btn btn-primary">新增項目</button>
            </div>
        </form>
    </div>
    <br>

    <!-- list area -->
    <ul class="list-group pb-5">
        <% for(list in todolist) { %>
        <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
            <span class="item-text"><%- todolist[list].item %></span>
            <div>
                <button data-id="<%- list %>" class="edit-me btn btn-secondary btn-sm mr-1">Edit</button>
                <button data-id="<%- list %>"  class="delete-me btn btn-danger btn-sm">Delete</button>
            </div>
        </li>
        <% } %>
    </ul>
    <!-- //list area -->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.3.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/browser.js"></script>
</body>

</html>