<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .completed-me {
            color: rgb(0, 0, 0);
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div class="completed-me" id="test5">
        888
        <div>777</div>
    </div>
    
    <ul>
        <li class="completed-me">
            <input type="checkbox" name="" id="art">
            <span>5</span>
            <input type="button" value="ok">
        </li>
        <li>
            <label for="888">
                <input type="checkbox" name="" id="888">
                <span>123</span>
            </label>
            <button>789</button>
        </li>
    </ul>

    <script type="text/javascript">
        var test5 = document.getElementById('test5');
        test5.style.display = 'none';
        console.log(test5); 

        var test = {
            a: '1',
            b: '2'
        }

        // console.log(Object.keys(test).length);

        var test2 = {
            'a': {completed:false,item:'798'},
            'b': {completed:true,item:'875'},
        }
        for (list in test2) {
            console.log(test2[list]);
            console.log(list);
        }

        var test3 = [
            { completed: true, item: '' },
            { completed: true, item: '789' },
            { completed: true, item: '' },
            { completed: true, item: '' }
        ]
        
        for (list in test3) {
            // console.log(test3[list].item);
        }

        var test4 = true
        test4 = !test4;
        console.log('test4 ' + test4);
    </script>
</body>
</html>