/* 變數 */
:root {
    --color-lighten-white: #dddddd;
    --color-dark-white: #b2b1b1;
    --main-color: #42455A;
    --second-color: #524C70;
    --completed-gray-color: #666666;
}

/* 統一 */

* {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

li {
    list-style-type: none;
}

/* RWD */
@media screen and (max-width: 768px) {
    .user-bar {
        flex-wrap: wrap;
    }
    .login-container {
        margin-top: 2rem;
        margin-left: 1rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 6rem auto;
    padding: 2rem;
    color: var(--color-lighten-white);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif
}

.container h1 {
    margin-bottom: 3rem;
    font-size: 30px;
    font-weight: 300;
}

.container h1 span {
    border: 2px solid var(--color-lighten-white);
    border-radius: 6px;
    margin: 0 .75rem 0 .3rem;
    padding: 8px;
    font-weight: 100;
}

.user-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}


.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#userImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 20px;
}

#logout-container {
    display: none;
    flex-direction: row;
    align-items: center;
}

.g-signout2 {
    text-decoration: none;
    color: var(--color-dark-white);
}

/* 輸入文本框+按鈕 */
.input-container {
    width: 800px;
}

.input-container input{
    width: 130px;
    border: 0;
    border-radius: 31px 10px 10px 31px;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--color-dark-white);
    background-color: var(--second-color);
    padding: 12px 20px 12px 30px;
    margin-right: 1rem;
    margin-left: .3rem;
    transition: width 0.4s ease-in-out;
    
}

.input-container input:focus {
    width: 80%;
    border: 2px solid #19dafa;
    outline: none;
}

.input-container button {
    border: 2px solid var(--second-color);
    border-radius: 10px 31px 31px 10px;
    padding: 5px 20px;
    color: var(--color-dark-white);
}

.input-container button:hover {
    cursor: pointer;
}

/* tasklist 任務列表 */
.taskList-container {
    height: 40vh;
    overflow-y: auto;
    margin-left: 0.3rem;
    margin-bottom: 2rem;
    /* box-shadow: 12px 12px 7px rgba(68, 68, 68, 0.7); */
}


.taskList-container li {
    height: 50px;
    border-bottom: 1px solid #3838387c;
    padding: 1rem 1.5rem;
    font-size: 20px;
    color: var(--color-lighten-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.completed-checkbox {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--color-lighten-white);
    border: 1px solid #444444;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

/* checkbox 勾勾製作 */
.completed-checkbox::before {
    position: absolute;
    content: '';
    display: block;
    bottom: 2px;
    left: 10px;
    width: 6px;
    height: 25px;
    border-style: solid;
    border-color: var(--color-lighten-white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.completed-checkbox:checked {
    color: #dddddd;
    background-color: var(--completed-gray-color);
    border-color: var(--completed-gray-color);
}

.completed-checkbox:checked::before {
    opacity: 1;
}

.delete-me {
    cursor: pointer;
}

/* 任務完成 文本css */
.item-text {
    position: relative;
    cursor: pointer;
}

.completed-checkbox:checked + span::after {
    position: absolute;
    content: '';
    top: 50%;
    left: calc(50% - 75px);
    width: 150px;
    border-top: #666666 2px solid;
}

.completed-checkbox:checked + span {
    color: var(--completed-gray-color);
}

/* 更新資料的input text css */
.update-input-text {
    height: 30px;
    font-size: 16px;
    color: var(--color-lighten-white);
    border-color: var(--color-dark-white);
    outline: none;
}

/* nav-container 任務狀態tab*/

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.tab-container li {
    width: 200px;
    text-align: center;
    border-bottom: var(--second-color) 0px solid;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-lighten-white);
    opacity: .5;
    margin-right: 1rem;
    /* border: 1px solid #b2b1b1; */
}

.tab-container li:hover{
    cursor: pointer;
    opacity: .75;
}

.tab-container li.active {
    border-bottom: var(--second-color) 2.5px solid;
    opacity: 1;
    transition: .1s ease-in-out;
}

/* webkit scrollbar 自訂樣式 */
::-webkit-scrollbar {
    width: 5px;
    }
    /* track 軌道的樣式 */
    ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #3838387c;
    }
    /* thumb bar的樣式 */
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background:   rgba(122, 122, 122, 0.5);
    }

